@import "compass/reset";
@import "compass/css3";

@import "icomoon";

body {
	font-size: 62.5%;
	font-family: "Gravur","GravurCondensed-Regular","Helvetica Neue","Arial Narrow",Helvetica,Arial,sans-serif;
}

$number-color: #FD8724;
$body-background-color: #F4F4F4;
$body-text-color: #333333;
$footer-background-color: #555555;
$footer-text-color: #FFFFFF;
$branding-color: #3859B7;

#container {
	text-align: center;
}

.section {
	width: 100%;
	min-height: 100vh;
	align-items: center;
	display: flex;
}

.content {
	margin: 0 auto;
}

@mixin headline() {
	h2 {
		text-transform: uppercase;
		font-size: 8em;

		span {
			color: $number-color;
		}
	}
}

.hero {
	background: url('../images/telstra-blue.png');
	background-size: cover;
	color: #FFFFFF;
	position: relative;

	.gobutton {
		text-decoration: none;
		color: #ffffff;
		position: absolute;
		top: 4em;
		right: 4em;
		text-transform: uppercase;
		font-size: 1.5em;
		padding: .8em 1em;
		border: 1px solid #ffffff;
		border-radius: 2px;
		transition: all .2s ease-in-out;

		&:hover {
			color: $branding-color;
			background-color: #ffffff;
		}
	}
	.content {
		margin: 0 auto;
	}
	.nav {
		position: absolute;
		bottom: 2em;
		left: 50%;
		font-size: 3em;
		width: 40px;
		height: 40px;

		margin-left: -20px;
		border-radius: 50%;
		line-height: 40px;
		box-shadow: 0 0 5px #666666;
		color: #2186DB;
		background-color: #FFFFFF;
		opacity: .7;
		transition: all .2s ease-in;

		&:hover {
			opacity: 1;
			transform: scale(1.1);
		}
	}

	h1 {
		text-transform: uppercase;
		font-size: 10em;

		span {
			color: $number-color;
		}
	}

	p {
		text-transform: uppercase;
		font-size: 3em;
		padding-top:1em;
	}
}

.hacking {
	/*background-color: $body-text-color;*/
	background-color: $branding-color;
	color: $body-background-color;
	position: relative;
	z-index: 1;
	

	&:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: "";		
		background: url('../images/radar-resized.png');
		background-size: cover;
		z-index: -1;
		opacity: .2;
	}

	.content {
		margin: 0 auto;
	}

	@include headline;	
}

.agenda {
	position: relative;
	padding: 10em 0;
	
	h2 {
		color: $branding-color;
		text-transform: uppercase;
		font-size: 8em;

		span {
			color: $number-color;
		}
	}

	&:before {
		position: absolute;
		display: block;
		content: "";
		border: 1px dashed $branding-color;
		height: 100%;
		margin: 0 auto;
		z-index: 0;
		left: 50%;
		top: 22em;
	}

	@mixin circle($radius) {
		text-align: center;
		width: $radius;
		height: $radius;
		line-height: $radius;
	}

	li {
		.event {
			position: relative;
			padding: 8em 0;
		}

		.inner {
			position: absolute;
			left: 55%;
			bottom: 2em;
			font-size: 2em;
			text-transform: uppercase;
			color: $branding-color;
		}

		.circle {
			position: absolute;
			font-size: 2em;
			left: 50%;
			margin-left: -1.5em;
			background-color: $branding-color;
			color: #ffffff;
			@include border-radius(50%);
			@include transition(all, .2s, ease-in-out);
			border: 1px solid transparent;

			i {
				padding: .5em;
				display: block;
				@include circle(2em);		
			}

			&:hover {
				color: $branding-color;
				background-color: #ffffff;
				border: 1px solid $branding-color;
			}
		}
	
	}
}

.kickoff {
	/*background-color: $body-text-color;*/
	background-color: $branding-color;
	color: $body-background-color;
	position: relative;
	z-index: 1;
	
	&:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: "";		
		background: url('../images/kick-off-resized.png');
		background-size: cover;
		z-index: -1;
		opacity: .4;
	}

	@include headline;
}

.kickoff-result {
	color: $branding-color;
	@include headline;
}

.candy {
	background-color: $branding-color;
	/*background-color: $body-text-color;*/
	color: $body-background-color;
	position: relative;
	z-index: 1;
	

	&:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		content: "";		
		background: url('../images/candy-resized.png');
		background-size: cover;
		z-index: -1;
		opacity: .2;
	}

	@include headline;
}

.showcase {	
	padding: 10em 0;

	background-color: #F0F0F0;
	color: $branding-color;

	h3 {
		text-transform: uppercase;
		font-size: 6em;
		padding: 1em 0;
	}

	p {
		font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
	}
}

.idea {
	width: 80%;
	margin: 0 auto;

	.content {
		margin: 0 auto;
	}

	img {
		width: 80%;
	}

	p {
		font-weight: lighter;
		padding: 1em 0;
		font-size: 2em;
		line-height: 1.4;
		color: #666666;

		a {
			text-decoration: none;
			color: $branding-color;
		}
	}
}

#dong {
	background-color: $branding-color;
	color: $body-background-color;
	position: relative;
	z-index: 1;
	

	&:after {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(../images/dong-muted.jpeg) no-repeat;
		background-size: cover;
		transition: 1s opacity;
	}

	.stopfade { opacity: .5; }

	@include headline;
}

.videos {
	position: relative;
	z-index: 1;
	color: #ffffff;

	#dong {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(../images/dong-muted.jpeg) no-repeat;
		background-size: cover;
		transition: 1s opacity;
	}

	#juntao {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(../images/juntao-muted.jpeg) no-repeat;
		background-size: cover;
		transition: 1s opacity;
	}
	@include headline;

}

.teams {
	background-color: #FEFEFE;
	padding: 4em 0 8em 0;

	width: 100%;
	margin: 0 auto;

	h3 {
		color: $branding-color;
		text-transform: uppercase;
		font-size: 6em;
		padding: 1em 0;
	}

	#teams .item{
	  margin: 10px;
	  img{
		  display: block;
		  width: 100%;
		  height: auto;
		  opacity: .8;
		  @include transition(all, .2s, ease-in-out);
		  -webkit-filter: grayscale(60%);
		  filter: grayscale(60%);
		  &:hover {
		  	opacity: 1;
		  	-webkit-filter: grayscale(0%);
		  	filter: grayscale(0%);
		  }
		}
	}
}

footer {
	font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
	background-color: $branding-color;
	color: #ffffff;

	p {
		font-size: 2em;
		padding: 2em 0;
	}
}