@charset "UTF-8";
/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p545/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rcywpv");
  src: url("../fonts/icomoon.eot?#iefixrcywpv") format("embedded-opentype"), url("../fonts/icomoon.ttf?rcywpv") format("truetype"), url("../fonts/icomoon.woff?rcywpv") format("woff"), url("../fonts/icomoon.svg?rcywpv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/_icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/_icomoon.scss */
.icon-chevron-thin-down:before {
  content: "\e603";
}

/* line 30, ../sass/_icomoon.scss */
.icon-embed:before {
  content: "\e600";
}

/* line 33, ../sass/_icomoon.scss */
.icon-tv:before {
  content: "\e601";
}

/* line 36, ../sass/_icomoon.scss */
.icon-bulb:before {
  content: "\e602";
}

/* line 39, ../sass/_icomoon.scss */
.icon-cogs:before {
  content: "\e604";
}

/* line 6, ../sass/style.scss */
body {
  font-size: 62.5%;
  font-family: "Gravur","GravurCondensed-Regular","Helvetica Neue","Arial Narrow",Helvetica,Arial,sans-serif;
}

/* line 18, ../sass/style.scss */
#container {
  text-align: center;
}

/* line 22, ../sass/style.scss */
.section {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  display: flex;
}

/* line 29, ../sass/style.scss */
.content {
  margin: 0 auto;
}

/* line 44, ../sass/style.scss */
.hero {
  background: url("../images/telstra-blue.png");
  background-size: cover;
  color: #FFFFFF;
  position: relative;
}
/* line 50, ../sass/style.scss */
.hero .gobutton {
  text-decoration: none;
  color: #ffffff;
  position: absolute;
  top: 4em;
  right: 4em;
  text-transform: uppercase;
  font-size: 1.5em;
  padding: .8em 1em;
  border: 1px solid #ffffff;
  border-radius: 2px;
  transition: all .2s ease-in-out;
}
/* line 63, ../sass/style.scss */
.hero .gobutton:hover {
  color: #3859B7;
  background-color: #ffffff;
}
/* line 68, ../sass/style.scss */
.hero .content {
  margin: 0 auto;
}
/* line 71, ../sass/style.scss */
.hero .nav {
  position: absolute;
  bottom: 2em;
  left: 50%;
  font-size: 3em;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border-radius: 50%;
  line-height: 40px;
  box-shadow: 0 0 5px #666666;
  color: #2186DB;
  background-color: #FFFFFF;
  opacity: .7;
  transition: all .2s ease-in;
}
/* line 88, ../sass/style.scss */
.hero .nav:hover {
  opacity: 1;
  transform: scale(1.1);
}
/* line 94, ../sass/style.scss */
.hero h1 {
  text-transform: uppercase;
  font-size: 10em;
}
/* line 98, ../sass/style.scss */
.hero h1 span {
  color: #FD8724;
}
/* line 103, ../sass/style.scss */
.hero p {
  text-transform: uppercase;
  font-size: 3em;
  padding-top: 1em;
}

/* line 110, ../sass/style.scss */
.hacking {
  /*background-color: $body-text-color;*/
  background-color: #3859B7;
  color: #F4F4F4;
  position: relative;
  z-index: 1;
}
/* line 118, ../sass/style.scss */
.hacking:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: url("../images/radar-resized.png");
  background-size: cover;
  z-index: -1;
  opacity: .2;
}
/* line 132, ../sass/style.scss */
.hacking .content {
  margin: 0 auto;
}
/* line 34, ../sass/style.scss */
.hacking h2 {
  text-transform: uppercase;
  font-size: 8em;
}
/* line 38, ../sass/style.scss */
.hacking h2 span {
  color: #FD8724;
}

/* line 139, ../sass/style.scss */
.agenda {
  position: relative;
  padding: 10em 0;
}
/* line 143, ../sass/style.scss */
.agenda h2 {
  color: #3859B7;
  text-transform: uppercase;
  font-size: 8em;
}
/* line 148, ../sass/style.scss */
.agenda h2 span {
  color: #FD8724;
}
/* line 153, ../sass/style.scss */
.agenda:before {
  position: absolute;
  display: block;
  content: "";
  border: 1px dashed #3859B7;
  height: 100%;
  margin: 0 auto;
  z-index: 0;
  left: 50%;
  top: 22em;
}
/* line 173, ../sass/style.scss */
.agenda li .event {
  position: relative;
  padding: 8em 0;
}
/* line 178, ../sass/style.scss */
.agenda li .inner {
  position: absolute;
  left: 55%;
  bottom: 2em;
  font-size: 2em;
  text-transform: uppercase;
  color: #3859B7;
}
/* line 187, ../sass/style.scss */
.agenda li .circle {
  position: absolute;
  font-size: 2em;
  left: 50%;
  margin-left: -1.5em;
  background-color: #3859B7;
  color: #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all, 0.2s, ease-in-out;
  -o-transition: all, 0.2s, ease-in-out;
  -webkit-transition: all, 0.2s, ease-in-out;
  transition: all, 0.2s, ease-in-out;
  border: 1px solid transparent;
}
/* line 198, ../sass/style.scss */
.agenda li .circle i {
  padding: .5em;
  display: block;
  text-align: center;
  width: 2em;
  height: 2em;
  line-height: 2em;
}
/* line 204, ../sass/style.scss */
.agenda li .circle:hover {
  color: #3859B7;
  background-color: #ffffff;
  border: 1px solid #3859B7;
}

/* line 214, ../sass/style.scss */
.kickoff {
  /*background-color: $body-text-color;*/
  background-color: #3859B7;
  color: #F4F4F4;
  position: relative;
  z-index: 1;
}
/* line 221, ../sass/style.scss */
.kickoff:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: url("../images/kick-off-resized.png");
  background-size: cover;
  z-index: -1;
  opacity: .4;
}
/* line 34, ../sass/style.scss */
.kickoff h2 {
  text-transform: uppercase;
  font-size: 8em;
}
/* line 38, ../sass/style.scss */
.kickoff h2 span {
  color: #FD8724;
}

/* line 238, ../sass/style.scss */
.kickoff-result {
  color: #3859B7;
}
/* line 34, ../sass/style.scss */
.kickoff-result h2 {
  text-transform: uppercase;
  font-size: 8em;
}
/* line 38, ../sass/style.scss */
.kickoff-result h2 span {
  color: #FD8724;
}

/* line 243, ../sass/style.scss */
.candy {
  background-color: #3859B7;
  /*background-color: $body-text-color;*/
  color: #F4F4F4;
  position: relative;
  z-index: 1;
}
/* line 251, ../sass/style.scss */
.candy:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: url("../images/candy-resized.png");
  background-size: cover;
  z-index: -1;
  opacity: .2;
}
/* line 34, ../sass/style.scss */
.candy h2 {
  text-transform: uppercase;
  font-size: 8em;
}
/* line 38, ../sass/style.scss */
.candy h2 span {
  color: #FD8724;
}

/* line 268, ../sass/style.scss */
.showcase {
  padding: 10em 0;
  background-color: #F0F0F0;
  color: #3859B7;
}
/* line 274, ../sass/style.scss */
.showcase h3 {
  text-transform: uppercase;
  font-size: 6em;
  padding: 1em 0;
}
/* line 280, ../sass/style.scss */
.showcase p {
  font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
}

/* line 285, ../sass/style.scss */
.idea {
  width: 80%;
  margin: 0 auto;
}
/* line 289, ../sass/style.scss */
.idea .content {
  margin: 0 auto;
}
/* line 293, ../sass/style.scss */
.idea img {
  width: 80%;
}
/* line 297, ../sass/style.scss */
.idea p {
  font-weight: lighter;
  padding: 1em 0;
  font-size: 2em;
  line-height: 1.4;
  color: #666666;
}
/* line 304, ../sass/style.scss */
.idea p a {
  text-decoration: none;
  color: #3859B7;
}

/* line 311, ../sass/style.scss */
.teams {
  background-color: #FEFEFE;
  padding: 4em 0;
  width: 90%;
  margin: 0 auto;
}
/* line 318, ../sass/style.scss */
.teams h3 {
  color: #3859B7;
  text-transform: uppercase;
  font-size: 6em;
  padding: 1em 0;
}
/* line 325, ../sass/style.scss */
.teams #teams .item {
  margin: 3px;
}
/* line 327, ../sass/style.scss */
.teams #teams .item img {
  display: block;
  width: 100%;
  height: auto;
  opacity: .8;
  -moz-transition: all, 0.2s, ease-in-out;
  -o-transition: all, 0.2s, ease-in-out;
  -webkit-transition: all, 0.2s, ease-in-out;
  transition: all, 0.2s, ease-in-out;
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
}
/* line 335, ../sass/style.scss */
.teams #teams .item img:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

/* line 344, ../sass/style.scss */
footer {
  font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
  background-color: #3859B7;
  color: #ffffff;
}
/* line 349, ../sass/style.scss */
footer p {
  font-size: 2em;
  padding: 2em 0;
}
